workflows/FakeData.json
{
  "name": "FakeData",
  "nodes": [
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "id": "8e4481bb-dda4-4caa-a738-d73c7243dbd6",
      "name": "Customer Datastore",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "position": [
        540,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## About the very quick quickstart workflow\n\nThis is an incomplete workflow, used in the [very quick quickstart](https://docs.n8n.io//try-it-out/quickstart/) tutorial.",
        "height": 220,
        "width": 300
      },
      "id": "52fd3c1b-444c-4d46-b75e-417d399a1617",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Get fake sample data**",
        "height": 300,
        "width": 220
      },
      "id": "f520a54d-2b04-457f-a072-e79a70c7250a",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Extract data and prepare it for use in the next node**",
        "height": 300,
        "width": 220
      },
      "id": "d8981a89-8cc5-4290-bee4-fac28e2637e0",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        760,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "95bae28f-fb06-4a1e-955b-3013bc233b9e",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        300,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df041e3c-fc09-4ba2-8e6b-37f2c6a02526",
              "name": "customer_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "bf288953-4fef-4f55-a45f-c223714919c0",
              "name": "customer_name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "1cff0b21-6740-4697-9d2c-9bcb045af0be",
              "name": "customer_description",
              "type": "string",
              "value": "={{ $json.notes }}"
            }
          ]
        },
        "options": {}
      },
      "id": "96c6c442-b561-44f6-91fb-4b89e9a6a6e7",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        820,
        280
      ],
      "typeVersion": 3.3
    }
  ],
  "pinData": {},
  "connections": {
    "Customer Datastore": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "Customer Datastore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "812638e7-595c-4254-bf28-46edbb7a76a4",
  "meta": {
    "instanceId": "8f42723d854102a22f8b6314b06bbb38f4b6e259798e3ba1bfd90033d4266ea4"
  },
  "id": "PCqFcSdGy1eFXucw",
  "tags": []
}